{%extends "user_manager/main.twig"%}
{%set title = lang.user.list%}

{% block wrapper %}

	<table class="table table-hover">
		<thead>
			<tr>
				<th>{{lang.user.name}}</th>
				<th>{{lang.user.family}}</th>
				<th>{{lang.user.surname}}</th>
				<th>{{lang.user.login}}</th>
				<th>{{lang.user.created_at}}</th>
				<th>{{lang.user.group}}</th>
				<th class="table-controls">
					<a href="{{path_for('user_manager.user.create')}}" c="" class="btn btn-success btn-xs" >{{lang.btn.create}}</a>  
				</th>
			</tr>
		</thead>
		<tbody>

			{%for user in users%}
				<tr data-id="{{user.id}}">
					<td>{{user.name}}</td>
					<td>{{user.family}}</td>
					<td>{{user.surname}}</td>
					<td>{{user.login}}</td>
					<td>{{user.created_at}}</td>
					<td>{{user.group.name}}</td>
					<td class="table-controls">
						<a href="{{path_for('user_manager.user.update',{'id':user.id})}}" class="btn btn-primary btn-xs" >{{lang.btn.update}}</a>
						<a href="javascript:void(0)" class="btn btn-danger btn-xs cmdDeleteUser" data-id="{{user.id}}">{{lang.btn.delete}}</a>
					</td>

				</tr>
			{%endfor%}

		</tbody>
	</table>  


{% endblock %}

{% block scripts %}
	<script>
		$('.cmdDeleteUser').click(function () {
			if (confirm('{{lang.user.del_confirm}}')) {
				var id = $(this).data('id');
				$.ajax({
					url: '{{path_for('user_manager.user.delete')}}',
					cache: false,
					type: "GET",
					data: {
						id: id,
					},
					dataType: 'json',
					success: function (d) {
						if (!d.err) {
							$('tr[data-id=' + id + ']').remove();
							toastr['success'](d.msg)
						} else {
							toastr['warning'](d.msg)
						}
					},
					error: function () {
						alert("Error");
					}
				});
			}
		});
	</script>
{% endblock %}
