{%extends "main.twig"%}
{% set title = lang.user.update %}
{% block wrapper %}

	<div class="row">
		<div class="col-lg-12 p-md">
			<a href="{{ path_for('user_manager.user')}}" class="backLink">
				<i class="fa fa-arrow-left"></i> {{lang.btn.back}}</a>
		</div>
	</div>

	{#route.name - форма ведет на эту же страницу, но методом post#}


	<div class="row">
		<div class="col-lg-7">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>{{lang.user.pdata}}</h5>
				</div>
				<div class="ibox-content">
					<form method="post" action="{{ path_for(route.name,{'id':user.id})}}" class="form-horizontal"
						  enctype="multipart/form-data"
						  >
						<div class="form-group {{errors.name?'has-error':''}}">
							<label class="col-sm-3 control-label">{{lang.user.name}}</label>
							<div class="col-sm-9">
								<input name="name" id="inputLogin" class="form-control" value="{{user.name}}" placeholder="{{lang.user.name}}"  autofocus>
								{% if errors.name %}
									<span class="help-block">{{errors.name|first}}</span>
								{% endif %}
							</div>
						</div>


						<div class="form-group {{errors.family?'has-error':''}}">
							<label class="col-sm-3 control-label">{{lang.user.family}}</label>
							<div class="col-sm-9">
								<input name="family" id="inputLogin" class="form-control" value="{{user.family}}" placeholder="{{lang.user.family}}"  autofocus>
								{% if errors.family %}
									<span class="help-block">{{errors.family|first}}</span>
								{% endif %}
							</div>
						</div>

						<div class="form-group {{errors.surname?'has-error':''}}">
							<label class="col-sm-3 control-label">{{lang.user.surname}}</label>
							<div class="col-sm-9">
								<input name="surname" id="inputLogin" class="form-control" value="{{user.surname}}" placeholder="{{lang.user.surname}}"  autofocus>
								{% if errors.surname %}
									<span class="help-block">{{errors.surname|first}}</span>
								{% endif %}
							</div>
						</div>

						<div class="form-group {{errors.short?'has-error':''}}">
							<label class="col-sm-3 control-label">{{lang.user.short}}</label>
							<div class="col-sm-9">
								<input name="short" id="inputLogin" class="form-control" value="{{user.short}}" placeholder="{{lang.user.short}}"  autofocus>
								{% if errors.short %}
									<span class="help-block">{{errors.short|first}}</span>
								{% endif %}
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">{{lang.user.photo}}</label>
							<div class="col-sm-9">
								<label class="btn btn-default">
									{{lang.btn.select_file}}
									<input type="file" class="filestyle" name="photo" id="photo" data-icon="false" hidden="">
								</label>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group {{errors.filial_id?'has-error':''}}">
							<label class="col-sm-3 control-label">{{lang.user.filial}}</label>
							<div class="col-sm-9">
								<select name="filial_id" class="form-control">
									{% for filial in filials %}
										<option value="{{filial.id}}" {% if user.filial_id == filial.id %}selected{%endif%}> {{filial.name}}</option>
									{% endfor %}
								</select>
								{% if errors.filial_id %}
									<span class="help-block">{{errors.filial_id|first}}</span>
								{% endif %}
							</div>
						</div>

						<div class="form-group {{errors.work_phone?'has-error':''}}">
							<label class="col-sm-3 control-label">{{lang.user.work_phone}}</label>
							<div class="col-sm-9">
								<input name="work_phone" id="inputLogin" class="form-control" value="{{user.work_phone}}" placeholder="{{lang.user.work_phone}}"  autofocus>
								{% if errors.work_phone %}
									<span class="help-block">{{errors.work_phone|first}}</span>
								{% endif %}
							</div>
						</div>
						<div class="form-group {{errors.home_phone?'has-error':''}}">
							<label class="col-sm-3 control-label">{{lang.user.home_phone}}</label>
							<div class="col-sm-9">
								<input name="home_phone" id="inputLogin" class="form-control" value="{{user.home_phone}}" placeholder="{{lang.user.home_phone}}"  autofocus>
								{% if errors.home_phone %}
									<span class="help-block">{{errors.home_phone|first}}</span>
								{% endif %}
							</div>
						</div>

						<div class="form-group {{errors.email?'has-error':''}}">
							<label class="col-sm-3 control-label">{{lang.user.email}}</label>
							<div class="col-sm-9">
								<input name="email" id="inputLogin" class="form-control" value="{{user.email}}" placeholder="{{lang.user.email}}"  autofocus>
								{% if errors.email %}
									<span class="help-block">{{errors.email|first}}</span>
								{% endif %}
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group {{errors.login?'has-error':''}}">
							<label class="col-sm-3 control-label">{{lang.user.login}}</label>
							<div class="col-sm-9">
								<input name="login" id="inputLogin" class="form-control" value="{{user.login}}" placeholder="{{lang.user.login}}"  autofocus readonly>
								{% if errors.login %}
									<span class="help-block">{{errors.login|first}}</span>
								{% endif %}
							</div>
						</div>

						<div class="form-group {{errors.password?'has-error':''}}">
							<label class="col-sm-3 control-label">{{lang.user.password}}</label>
							<div class="col-sm-9">
								<input name="password" id="inputLogin" class="form-control" value="" placeholder="{{lang.user.password}}"  autofocus>
								{% if errors.password %}
									<span class="help-block">{{errors.password|first}}</span>
								{% endif %}
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group">
							<div class="col-sm-3"></div>
							<div class="col-sm-9">
								<div class="alert alert-success" role="alert" style="display:none;"><h4 class="alert-heading"><span class="alert-text"></span></h4></div>
								<div class="alert alert-danger" role="alert" style="display:none;"><h4 class="alert-heading"><span class="alert-text"></span></h4></div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-9 col-sm-offset-3">
								<a class="btn btn-white" href="{{path_for('user_manager.user')}}">{{lang.btn.close}}</a>
								<button class="btn btn-primary" type="submit">{{lang.btn.save}}</button>
							</div>
						</div>
						{{csrf.field|raw}}
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-5">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Доступы пользователя</h5>
				</div>
				<div class="ibox-content">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-xs-12">
							{% for group in groups %}
								<div>
									<label> <input type="checkbox" value="{{group.id}}"
												   {{user.groups.contains(group.id)?'checked':''}}> {{group.name}} </label>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-lg-5">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Главная группа</h5>
				</div>
				<div class="ibox-content">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-sm-12">
								<select id="MainGroupId" class="form-control">
									<option value="0">Выбрать</option>
									<option value="1007">Verkauf (Verkaufsberater) </option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-5">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Допустимые IP адреса</h5>
				</div>
				<div class="ibox-content">
					<div class="form-horizontal">
						<select id="AccessType" class="form-control">
							<option value="1">Доступ со всех адресов</option>
							<option value="2" selected="">Доступ из локальной сети и адресов белого списка</option>
							<option value="3">Доступ по правилам</option>
						</select>
						<br>
						<table class="table mb-none" style="border:0; display:none;" id="accessRules">
							<tbody>
								<tr data-id="261">
									<td><input type="text" class="form-control input-sm allowIp" value="5.165.168.99"></td>
									<td><button class="btn btn-primary btn-sm" onclick="delRule($(this))">Удалить</button></td>
								</tr>
								<tr data-id="262">
									<td><input type="text" class="form-control input-sm allowIp" value="85.198.107.158"></td>
									<td><button class="btn btn-primary btn-sm" onclick="delRule($(this))">Удалить</button></td>
								</tr>
								<tr>
									<td><button class="btn btn-primary btn-sm" id="addRule">Добавить правило</button></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>			
	</div>
{% endblock %}

