<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{Auth.user.name}}</strong>
							</span> <span class="text-muted text-xs block">{{Auth.user.group.name}}</span> </span> </a>

				</div>
				<div class="logo-element">
					IN+
				</div>
			</li>
			<li class="active">
				<a href="{{path_for('user_manager.user')}}"><i class="fas fa-users-cog"></i> <span class="nav-label">{{lang.menu.m1}}</span></a>
			
			</li>
			<li>
				<a href="/"><i class="fas fa-boxes"></i> <span class="nav-label">{{lang.menu.m2}}</span></a>
				<ul class="nav nav-second-level">
					<li class="active"><a href="/users">{{lang.menu.m2_1}}</a></li>
					<li><a href="dashboard_2.html">{{lang.menu.m2_2}}</a></li>
				</ul>
			</li>

		</ul>

	</div>
</nav>