{%extends "admin/main.twig"%}
{% block title %}Создание роли{% endblock %}
{% block wrapper %}
  {#route.name - форма ведет на эту же страницу, но методом post#}
  <form method="post" action="{{ path_for('roles.create')}}" class="form-horizontal">
	<div class="form-group {{errors.name?'has-error':''}}">
	  <label for="inputName" class="control-label col-xs-2">Имя</label>
	  <div class="col-xs-10">
		<input name="name" id="inputLogin" class="form-control" value="{{old.name}}" placeholder="Имя"  autofocus>
		{% if errors.name %}
		  <span class="help-block">{{errors.name|first}}</span>
		{% endif %}
	  </div>
	</div>
	{{csrf.field|raw}}
	<button class="btn btn-primary " type="submit">Сохранить</button>
  </form>

{% endblock %}

